@charset "UTF-8";

:root {
    --cor-amarelo: #FFD166;
    --cor-azul: #5BC0EB;
    --cor-rosa: #EF476F;
    --cor-purple: #8a2be2;
}
* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(0deg, #8dd7ff 20%, #6ac9f2 80%);
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    padding-top: 24px;
    margin-bottom: 24px;
}
h1 > strong {
    color: var(--cor-amarelo);
    text-decoration: double;
    text-transform: uppercase;
    letter-spacing: -1.5px;
}


#entrada {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
#number {
    text-align: center;
    width: 120px;
    height: 20px;
    margin: 8px auto;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

#btn {
    background: none;
    width: 120px;
    height: 28px;
    color: var(--cor-rosa);
    font-weight: 700;
    margin: 16px auto 48px;
    border: 2px solid var(--cor-rosa);
    border-radius: 8px;
    cursor: pointer;
}
#btn:hover {
    background: var(--cor-rosa);
    color: whitesmoke;
}

#ampulheta {
    cursor: none;
    overflow: hidden;
    background-color: var(--cor-rosa);
    width: fit-content;
    max-width: 95%;
    margin: auto;
    border: 12px solid var(--cor-rosa);
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
}